---
/** Homepage with a list of pages fetched from the Hygraph endpoint
// Location: /src/pages/index.astro */

import { GraphQLClient } from "graphql-request";
import Main from "../layouts/main.astro";
import Button from "../components/Button.astro";

// Create a new GraphQL client with the Hygraph endpoint
const client = new GraphQLClient(
  "https://us-east-1-shared-usea1-02.cdn.hygraph.com/content/cltg6frtj07ga08upevb6yqqm/master"
);

// Fetch the data via the GraphQL query
const data = await client.request(
  `query MyQuery {
      pages {
          title
          slug
      }
    }`
);

// Extract the pages array from the fetched data
const pages: any[] = (data as { pages: any[] }).pages;

/**
 * The main component of the index page.
 * It renders the homepage with a title and a list of pages fetched from the Hygraph endpoint.
 */
<Main title="Homepage">
  <div class="grid place-items-center h-screen content-center">
    <h1 class="text-5xl font-bold">Pages that get pulled from Hygraph</h1>
    <ul class="my-8">
      {
        // Render each page as a list item with a button and a link
        pages.map((page) => (
          <li>
            <Button>
              <a href={`/pages/${page.slug}`}>{page.title}</a>
            </Button>
          </li>
        ))
      }
    </ul>
  </div>
</Main>